header {
    background-color: #FFCC99;
}
main {
    display: flex;
    background-color: #E6F2FF;
}
aside {
    background-color: #B3D9FF;
    flex: 1;
}
footer {
    background-color: #99CC99;
}

header h1 {
    font-weight: bold;
    text-align: center;
}

header, footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main section {
   flex: 3;
   margin: 20px;
}

aside, footer {
    border: 1px solid #CCC;
}
